################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConnectFour.App/ConnectFour.App/obj
/ConnectFour.App/.vs/ConnectFour.App
/.vs
