################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConnectFour.App/ConnectFour.App/obj
/ConnectFour.App/.vs/ConnectFour.App
/.vs
/ConnectFour.App/.vs/ProjectEvaluation/connectfour.app.metadata.v2
/ConnectFour.App/.vs/ProjectEvaluation/connectfour.app.projects.v2
/ConnectFour.App/ConnectFour.App.Tests/bin/Debug/net6.0
/ConnectFour.App/ConnectFour.App.Tests/obj
